/* styles.css */

/* Style pour le conteneur principal */
.vbox-container {
    -fx-padding: 20px;
    -fx-spacing: 10px;
}

/* Style pour le TextField d'instruction */
.instruction-text {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

/* styles.css */

/* Style pour le footer */
.hbox-footer {
    -fx-background-color: #f4f4f4;
    -fx-padding: 10px;
    -fx-border-color: #ccc;
    -fx-border-width: 1px 0 0 0;
    -fx-border-style: solid; /* Style de la bordure (solid, dashed, etc.) */
    -fx-border-radius: 5px; /* Coins arrondis */
}

/* Style pour les boutons du footer */
.button-footer {
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-padding: 6px 16px;
}






