.button {
    -fx-background-radius: 5 5 0 0;
    -fx-background-color: #e0e0e0;
    -fx-padding: 5 15 5 15;
}

.button:selected {
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
    -fx-border-color: #c0c0c0;
    -fx-border-width: 0 0 3 0;
}

/* Style du conteneur */
.toggle-button-container {
/*     -fx-padding: 2px;
    -fx-background-color: #f4f4f4;
    -fx-spacing: 10px; */
}

/* Style de base des ToggleButton */
.custom-toggle {
    -fx-min-width: 180px;
    -fx-pref-width: 180px;
    -fx-max-width: 180px;
    
    -fx-min-height: 10px;
    -fx-pref-height: 15px;
    -fx-max-height: 20px;
    
    -fx-background-radius: 5px;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
    -fx-border-color: #777777;
    
    -fx-background-color: #fcfcfc;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
    
    -fx-padding: 0 15px 0 40px; /* Espace pour l'icône */
    -fx-content-display: left;
    -fx-graphic-text-gap: 10px;
}

/* Style quand sélectionné */
.custom-toggle:selected {
    -fx-background-color: #d7d7d7;
    -fx-text-fill: rgb(41, 41, 41);
    -fx-border-color: #767676;
}

/* Style au survol */
.custom-toggle:hover {
    -fx-background-color: #d7d7d7;
}

.custom-toggle:selected:hover {
    -fx-background-color: #c3c3c3;
}

/* Style des icônes */
.custom-toggle .graphic {
    -fx-padding: 0 0 0 5px;
}

#graphContainer{
    -fx-background-color: #dfecffa7;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}
/* #dynamicPane{
    -fx-background-color: #ffbdbda7;
    -fx-border-color: #ccc;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
} */


/* CSS */
.button-8 {
    -fx-background-color: #e1ecf4;
    -fx-border-radius: 3px;
    -fx-border-color: #7aa7c7;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-text-fill: #39739d;
    -fx-font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
    -fx-font-size: 13px;
    -fx-font-weight: 400;
    -fx-padding: 5px 10px;
    -fx-alignment: center;
}

.button-8:hover,
.button-8:focused {
    -fx-background-color: #b3d3ea;
    -fx-text-fill: #2c5777;
}

.button-8:focused {
    -fx-effect: dropshadow(gaussian, rgba(0, 149, 255, 0.15), 4, 0, 0, 0);
}

.button-8:pressed {
    -fx-background-color: #a0c7e4;
    -fx-effect: none;
    -fx-text-fill: #2c5777;
}


.button-4 {
    -fx-appearance: none;
    -fx-background-color: #FAFBFC;
    -fx-border-color: rgba(27, 31, 35, 0.15);
    -fx-border-radius: 6 6 0 0;
    -fx-box-shadow: rgba(27, 31, 35, 0.04) 0 1 0, rgba(255, 255, 255, 0.25) 0 1 0 inset;
    -fx-text-fill: #24292E;

    -fx-cursor: hand;
    -fx-font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -fx-font-size: 14px;
    -fx-font-weight: 500;
    -fx-line-height: 20;
    -fx-padding: 6 16;
    -fx-transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    -fx-user-select: none;
    -fx-vertical-align: middle;
    -fx-white-space: nowrap;
}

.button-4:hover {
    -fx-background-color: #F3F4F6;
    -fx-transition-duration: 0.1s;
}

.button-4:disabled {
    -fx-background-color: #FAFBFC;
    -fx-border-color: rgba(27, 31, 35, 0.15);
    -fx-text-fill: #959DA5;
    -fx-cursor: default;
}

.button-4:pressed {
    -fx-background-color: #EDEFF2;
    -fx-box-shadow: rgba(225, 228, 232, 0.2) 0 1 0 inset;
    -fx-transition: none;
}

.button-4:focused {
    -fx-focus-color: transparent;
}

.button-4:selected{
    -fx-background-color: #dbdddf;

}


.combo-box {
    -fx-appearance: none;
    -fx-padding: 0 30 0 10;
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 3;
    -fx-line-height: 30; /* Remplacez 30 par la valeur de $height si besoin */
    -fx-min-height: 30; /* Idem pour la hauteur */
    -fx-background-color: #fff;
    -fx-margin: 0 5 5 0;
}